<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/usuario"></ion-back-button>
      <ion-title><p align ="center"> Perfil</p></ion-title>
    </ion-buttons>
  </ion-toolbar>
  <ion-button color="dark" [routerLink]="['/login']">
    <ion-icon name="log-out-outline"></ion-icon>
  </ion-button>
</ion-header>

<ion-content>
  <ion-grid *ngFor="let user of usuario">
    <ion-card>
      <ion-row class="ion-align-self-center">
        <ion-col size-md="3" offset-sm="5">
          <h3>
            <ion-img src="../assets/img/usuario.jpg"> </ion-img>
          </h3>
          <h3>
            {{user.fname}}
          </h3>
          <h3>
            {{user.lastName}}
          </h3>
            <h3>
             {{user.email}}
          </h3>
        </ion-col>
      </ion-row>

    </ion-card>
    <ion-card *ngFor="let res of reser">
      <ion-row *ngIf="res.idUser === user.id">
        <ion-col *ngFor='let habi of habitaciones'>
          <ion-row *ngIf="habi.id === res.idHabitacion">
            <ion-text> Reserva</ion-text>
            <ion-text> De la Fecha: {{res.dateStart}} </ion-text>
            <ion-text> Hasta : {{res.dateFinish}} </ion-text>
            <ion-text> {{habi.title}} </ion-text>
            <ion-text> {{habi.descrip}} </ion-text>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>


