<ion-header>
  <ion-toolbar>
    <ion-title><p align ="center"><ion-icon name="leaf-sharp"></ion-icon> Hotel EcoSpace</p></ion-title>
    <ion-button [routerLink]="['./cuartos']">
      <ion-icon name="bed-outline"></ion-icon>

    </ion-button>
    <ion-button [routerLink]="['./perfil']">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>
    <ion-text *ngFor="let user of usuario"> {{ user.fname }}</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item> Aqui va el homepage de la pagina</ion-item>
</ion-content>
