<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="loginAttempt()" novalidate>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">password</ion-label>
      <ion-input formControlName="pass" type="text"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type='submit' color="danger" expand="block"> Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
