<ion-header>
  <ion-toolbar>
    <ion-title><p align ="center">Hotel jardin encantador</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col  size-md="3" offset-sm="5">
          <ion-button color="dark"class="ion-float-left" [routerLink]="['./agregar']">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        <h4>Habitaciones</h4>
      </ion-col>
    </ion-row>
  <ion-card>
      <div *ngFor="let habitacion of habitaciones" [routerLink]="['./', habitacion.id]">
        <ion-row>
          <ion-text>{{habitacion.title}}</ion-text>
        </ion-row>
        <ion-row>
          <ion-text> {{habitacion.descrip}} </ion-text>
        </ion-row>
        <ion-row>
          <ion-text> {{habitacion.price}} </ion-text>
        </ion-row>
        <ion-row>
          <ion-text> {{habitacion.status}} </ion-text>
        </ion-row>
      </div>
    </ion-card>
  </ion-grid>
</ion-content>
