<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-menu-button autoHide="false"></ion-menu-button> -->
      <ion-back-button defaultHref="/usuario/cuartos"></ion-back-button>
    </ion-buttons>
    <ion-title> <p align="center"> {{habitacion.title}}</p></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-card>
      <ion-row class="ion-align-self-center">
        <ion-col size-md="3" offset-sm="5">
          <ion-img src="../assets/img/coral-beach-hotel-resort.jpg"> </ion-img>
          <h3>
            {{habitacion.descrip}}
          </h3>
          <h3>
            <ion-icon name="people-sharp"></ion-icon> {{habitacion.perRoom}} personas maximo
          </h3>
            <h3>
              <ion-icon name="pricetag-sharp"></ion-icon> ${{habitacion.price}} por noche
          </h3>
        </ion-col>
      </ion-row>
    </ion-card>
    <form [formGroup]="formReserva" (ngSubmit)="addReser()" novalidate>
      <ion-card size-md="3" offset-sm="5">
        <ion-row class="ion-align-self-center">
          <ion-col size-md="3" offset-sm="5">

              <ion-item>
                <ion-label>DD-MM-YYYY</ion-label>
                <ion-input formControlName="dateStart" type="text" autocomplete autocorrect >
                  <!-- <ion-datetime displayFormat="DD MM YY" placeholder="Seleccione fecha de inicio"></ion-datetime> -->
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label>DD-MM-YYY</ion-label>
                <ion-input formControlName="dateFinish" type="text" autocomplete autocorrect >
                  <!-- <ion-datetime displayFormat="DD MM YY" placeholder="Seleccione fecha de inicio"></ion-datetime> -->
                </ion-input>
              </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="dark" expand="block" outline>Reservar</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </form>
  </ion-grid>




</ion-content>


<!-- navbar -->
<!-- <ion-app>
  <ion-menu contentId="main-content" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>Side Bar Nav</ion-title>
        <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let nav of nav">
          <ion-item
            routerDirection="root"
             [routerLink]="nav.link"
             [class.active-menu]="active === nav.link">
              {{nav.name}}
              <ion-icon slot="start" [ios]="nav.icon + '-outline'" [md]="nav.icon + '-sharp'"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content" main></ion-router-outlet>
</ion-app>
 -->
