<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
      <ion-button  [routerLink]="['./editar/', habitacion.id]">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> <p align="center">Habitacion {{habitacion.title}}</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card>
      <ion-row class="ion-align-self-center">
        <ion-col size-md="3" offset-sm="5">
          <h2>
            {{habitacion.title}}
          </h2>
          <h4>
            {{habitacion.descrip}}
          </h4>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>
