<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
      <ion-button  [routerLink]="['./editar/', habitacion.id]">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> <p align="center"> {{habitacion.title}}</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card>
      <ion-row class="ion-align-self-center">
        <ion-col size-md="3" offset-sm="5">
          <ion-img src="../assets/img/coral-beach-hotel-resort.jpg"> </ion-img>
          <h3>
            {{habitacion.descrip}}
          </h3>
          <h3>
            <ion-icon name="people-sharp"></ion-icon> {{habitacion.perRoom}} personas maximo
          </h3>
            <h3>
              <ion-icon name="pricetag-sharp"></ion-icon> ${{habitacion.price}} por noche
          </h3>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>
